/* AuthForm.css */
.auth-container {
    min-height: 100vh;
    padding: 20px;
    background-image: url("../assets/bgimg.jpeg");
    background-size: cover;
    /* or contain, or specific dimensions */
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
}

.auth-card {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px;
}

.auth-card h2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 48px;
}

.switch-text {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgba(124, 121, 121, 1);
}

.switch-text span {
    color: #2563eb;
    cursor: pointer;
    font-weight: 500;
}

.switch-text span:hover {
    text-decoration: underline;
}

.fullname {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-group {
    background-color: rgba(84, 106, 133, 1);
    padding: 10px;
    border-radius: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgba(184, 192, 203, 1);
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
}

.form-group input:focus {
    outline: none;
    border-color: #2563eb;
}

.forgot-password {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-password span {
    color: #2563eb;
    cursor: pointer;
    font-size: 0.9rem;
}

.forgot-password span:hover {
    text-decoration: underline;
}

.auth-button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.auth-button:hover {
    background-color: #1d4ed8;
}

.form-groups {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    border-radius: 60px;
    background-color: #2563eb;
}

.change-method {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    color: #666;
    font-size: 0.9rem;
    width: 100%;
    background-color: rgba(159, 190, 222, 1);
}

.change-method span {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.change-method span:hover {
    text-decoration: underline;
}

.submitbuttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 50px;
}

/* Responsive styles */
@media (max-width: 480px) {
    .auth-card {
        padding: 20px;
    }

    .auth-card h2 {
        font-size: 1.3rem;
    }

    .form-group input {
        padding: 8px;
    }

    .auth-button {
        padding: 10px;
    }
}